* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", "Roboto", sans-serif;
  font-weight: 600;
}
body {
  background-color: #eeeeee;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
